.DS_Store
*.xcuserstate
xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside
*.pbxuser
*.perspectivev3
*.xcworkspace/xcuserdata
build/
build-ios/CMakeFiles/
build-ios/CMakeScripts/
build-ios/ggml/
build-ios/src/
build-ios/*.xcodeproj/
build-ios/transcribe-link.json
build-ios/cmake_install.cmake
build-ios/CMakeCache.txt
*.ipa
*.dSYM.zip
*.dSYM
Pods/
.build/
MurmurShared/Models/
build-llama-ios/CMakeFiles/
build-llama-ios/*.xcodeproj/
build-llama-ios/build/
build-llama-ios/ggml/
build-llama-ios/src/
build-llama-ios/common/
build-llama-ios/*.cmake
build-llama-ios/CMakeCache.txt
build-llama-ios/*.o
build-llama-ios/*.txt
