.DS_Store
*.xcuserstate
xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside
*.pbxuser
*.perspectivev3
*.xcworkspace/xcuserdata
build/
build-ios/CMakeFiles/
build-ios/CMakeScripts/
build-ios/ggml/
build-ios/src/
build-ios/*.xcodeproj/
build-ios/transcribe-link.json
build-ios/cmake_install.cmake
build-ios/CMakeCache.txt
*.ipa
*.dSYM.zip
*.dSYM
Pods/
.build/
HandyShared/Models/
